<div th:fragment="pie">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Contacto</h4>
                <p>Correo electrónico: viajes@tuviaje.com</p>
                <p>Teléfono: 123 40 94 94</p>
            </div>
            <div class="col-md-6">
                <h4>Síguenos en redes sociales</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>